<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="EDoc2.ManagementServiceAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/ManagementService/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <maximumFileSize value="1024KB"/>
      <datePattern value="yyyy-MM-dd\.\t\x\t"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n=============%date============= %n  [Logging]%F-%L %n  [Message]%m%n"/>
      </layout>
    </appender>
    <logger name="EDoc2.ManagementServiceLogger">
      <level value="INFO"></level>
      <appender-ref ref="EDoc2.ManagementServiceAppender"></appender-ref>
    </logger>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
